<html>
    <head>
        <title>Emma's blog</title>
    </head>
    <body>
        <p>Hi there!</p>
        <p>It works!</p>

        <h1>A heading</h1>
        <h2>A sub-heading</h2>
        <h3>A sub-sub-heading</h3>

        <br>

        <em>emphasizes text</em>
        <strong>strongly emphasizes text</strong>
        <a href="https://djangogirls.org">link</a>

        <br>
        <br>
        <br>
        <br>

        <ul><li>I</li><li>am</li><li>a</li><li>List</li></ul>
    </body>
</html>
